/*-------------------
    Variables
-------------------*/
@import '../style/variables.scss';


/*-------------------
    Reset
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Antique Soft', serif;
}