/*-------------------
    Variables
-------------------*/
@import '../style/variables.scss';


/*-------------------
    Reset
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Zen Antique Soft', serif;
}

a{
    text-decoration: none;
}


    .btn_orange {
      color: $White;
      background-color: $Ectasy;
      margin-top: 20px;
      border-radius: 10px;
      padding: 15px 80px;
      font-size: 15px;
      cursor: pointer;
      display: inline-block;
      &:hover {
        color: $White;
        background-color: $Ectasy;
      }
    }

    .container{
        width: 100%;
        max-width: 1400px;
        padding: 0 20px;
        margin: 0 auto;
    }
    ul {
    list-style-type: none;  
    }

    a{
        color: $Black;
    }
